h1{
  font-family: Bahnschrift, Dialog;
  border-style: dashed;
  border-width: 10px;
  border-color: #2f9c81;
  border-radius: 20px;
}

body{
  background-image: url(landscape.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

pre{
  font-family: "Cascadia Code";
  font-size: 0.8em;
  font-weight: bold;
  font-style: italic;

  border-bottom: 3px solid blue;
  border-top: 3px solid red;
  border-left: 3px dotted purple;
  border-right: 3px double green;
  border-radius: 10px;
}

#p1{
  font-family: "Candara Light";
  font-size: 1.2em;
  font-style: oblique;
}

#p2{
  font-family: "Cascadia Code";
  font-size: 1.2em;

}

#p3{
  font-family: "Arial Black";
  font-size: 1.2em;
}

.songs{
  margin-left: 100px;
  clear: both;

}
#mig1{
  float: left;
  margin-right: 10px;
}

.pap4skunk{
  border-style: solid;
  padding: 20px;
  width: 20%;
}

*{
  box-sizing: border-box;
}

.overflow{
  border: 2px solid;
  padding: 5px;
  overflow: auto;
  width: 20%;
  height: 200px;
  float: left;
  margin-right: 2%;
}





